services:
  frontend:
    build: ../../frontend/
    volumes:
      - ../../frontend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      backend:
        condition: service_healthy
    ports:
      - "5173:5173"
    networks:
      - proxy
  backend:
    build: ../../backend/
    volumes:
      - ../../backend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - database
      - proxy
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://backend:3000"] 
      interval: 5s
      timeout: 5s
      retries: 10
    env_file:
      - .env

  postgres:
    image: postgres
    volumes:
      #- pgdata:/var/lib/postgresql/data
      - ../../db/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 1s
      timeout: 5s
      retries: 10
    env_file:
      - .env
    networks:
      - database
      - proxy
    ports:
      - "5432:5432"
  nginx:
    image: nginx:latest
    volumes:
      - ../../proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    networks:
      - proxy
networks:
  database:
  proxy: